.container {
  height: 100vh;
  background: #f6f9fb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emissionArea {
  width: 780px;
  display: flex;
  justify-content: space-between;
}
.emissionChart {
  width: 559px;
  height: 372px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.emissionHeader {
  width: 90%;
  height: 48px;
}
.emissionHeader p,
.emissionHeader h2 {
  line-height: 4px;
}
.emissionHeader p {
  color: #7e8a9e;
  font-size: 14px;
}
.emissionLegends {
  position: relative;
  top: 6px;
}
.seeMoreEmission {
  width: 212px;
  height: 242px;
  background: #fff;
}
.emissionCompletedContainer {
  width: 212px;
  height: 120px;
  background-color: #fff;
}

.emissionColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
